@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mr Fix-It";
}

@model MrFixIt.Models.Job

<p>are you sure?</p>
<form method="post" action="Claim" class="ClaimJobForm">
    <input type="hidden" name="JobId" value=@Model.JobId>
    <input type="hidden" name="Title" value=@Model.Title/>
    <input type="hidden" name="Description" value=@Model.Description/>
    <button type="submit">Claim this job</button>
</form>
<div class="ClaimedMessage"></div>
<p>@Html.ActionLink("Back to list", "Index")</p>